main{
    display: flex;
    justify-content: center;
    padding-top: 10px;

}
.card{
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.img-login{
    width: 50%;
}

h2{
    color: var(--primary);
}
.boton-formulario{

    background-color: var(--primary);
    color: var(--background-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.boton-formulario:hover{
    background-color: var(--secondary);
    color: var(--background-light);
}

.forgot-password{
    color: var(--complementary);
    text-decoration: none;
}

.forgot-password:hover{
    color: var(--secondary);
}