body {
    background-color: var(--background-light);
}


#container-carousel {
    width: 100%;
    padding-top: 100px;
}

.carousel {
    border-radius: 55px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.25);
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#container-quienes {
    margin-top: 75px;
    padding: 90px;
}

#container-quienes img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}

.texto-quienes p {
    text-align: justify;
    color: var(--background-dark);
}

.texto-quienes h1 {
    text-align: center;
    padding-bottom: 15px;
    color: var(--primary);
}

#container-card {
    padding-top: 50px;
    border-radius: 15px;
    padding-bottom: 85px;
}

.card-title {
    text-align: center;
    color: var(--primary);
    padding: 20px;
}

.card-text strong {
    color: var(--complementary);
}

.card-text {
    padding: 0 100px 0 100px;
}

.card-text p {
    text-align: justify;
}

.ayuntamiento-mapa {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.ayuntamiento-mapa iframe {
    border-radius: 50px;
}

