
.navegador{
    background-color: var(--background-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4.5px;
}

.nav-pills .nav-link.active{
    background-color: var(--primary);
}

.img-logo{
    width: 175px;
    padding: 10px;
}

.img-iconos{
    width: 25px;
}

h1{
    color: var(--primary) ;
}


main{
    background-image: url("../images/Elche.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.card{
    max-width: 500px;
    width: 100%;
    height: fit-content;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.img-login{
    width: 150px;
}

h2{
    color: var(--primary);
}
.boton-formulario{

    background-color: var(--primary);
    color: var(--background-light);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
}
.boton-formulario:hover{
    background-color: var(--secondary);
    color: var(--background-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);

}

.forgot-password{
    color: var(--complementary);
    text-decoration: none;
}

.forgot-password:hover{
    color: var(--secondary);
}

footer{
    background-color: var(--background-light);
}

.footer-legal{
    font-size: 0.8em;
}

@media (max-width: 850px){
    .iconos-nav{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    main {
        max-width: 100vw;
        overflow-x: hidden;
        padding: 20px;
    }

    .card{
        margin: 0;

    }
}